.favorite {
    -webkit-tap-highlight-color: transparent;
    color: #222;
    text-decoration: none;
    transition: color .2s;
    line-height: 1.2;
    position: relative;
}

.favorite:hover .favorite_icon {
    transition: transform .2s,fill .2s,stroke-dashoffset .4s;
    stroke: #222;
    stroke-dasharray: 65;
    stroke-dashoffset: 0;
}

.favorite:hover .tool_tip {
    @apply opacity-100
}

.favorite_icon {
    transition: transform .2s,fill .2s,stroke-dashoffset .4s;
    stroke-dashoffset: 100;
    fill: transparent;
    @apply w-6 h-6
}

.in_wishlist {
    transition: fill .4s .1s,stroke-dashoffset .2s;
    stroke-dashoffset: 0;
    fill: #222;
}

.tool_tip {
    @apply opacity-0 text-[0.5rem] left-auto right-[50%] absolute bottom-[125%] flex items-center justify-center w-max h-6 p-2 bg-[#222] text-white pointer-events-none transition-[opacity_0.2]
}

.tool_tip::before {
    content: '';
    display: block;
    position: absolute;
    top: 100%;
    width: 0;
    height: 0;
    margin-left: auto;
    margin-right: auto;
    border-top: solid .5rem #222;
    border-left: solid .5rem transparent;
    right: 0;
    left: auto;
}